header {
  padding: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(39, 82, 231, 1),
    rgba(11, 34, 113, 1)
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
