header {
  background: linear-gradient(
    to bottom,
    rgba(39, 82, 231, 1),
    rgba(11, 34, 113, 1)
  );
  position: relative;
  overflow: hidden;
}

#nav-wrapper {
  z-index: 1000;
}

/* decoration */
header .dec1 {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/Ellipse74.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
}

header .dec2 {
  position: absolute;
  top: 120px;
  left: 40px;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/Ellipse75.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
}

header .dec3 {
  position: absolute;
  top: 180px;
  left: 40px;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/Ellipse76.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
}

/* coin */

header .coin1 {
  position: absolute;
  top: 180px;
  left: 40px;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/export/Coin/BitCoin/Cam2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
  display: none;
}

header .coin2 {
  position: absolute;
  top: 180px;
  left: 40px;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/export/Coin/Ethereum/Cam2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
  display: none;
}
