.products-section {
  padding: 3rem 2rem;
  background-color: var(--lb);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.product-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 14px;
}

/* images */

.pro-img1,
.pro-img2,
.pro-img3 {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pro-img1 {
  background-image: url("/assets/images/Left.png");
}
.pro-img2 {
  background-image: url("/assets/images/Right.png");
}

.pro-img3 {
  background-image: url("/assets/images/Left2.png");
}

/* shaping each box */
.pt1 {
  background-color: var(--db);
  color: var(--w);
}

.pt2 {
  background-color: var(--y);
}

.pt3 {
  background-color: var(--p);
  color: var(--w);
}

/* text */

.pro-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.pro-text h2 {
  font-size: 3.2rem;
}

.pro-text p {
  font-size: 1.8rem;
}

.pt2 h2 {
  color: var(--hc);
}

/* tab */
@media (min-width: 768px) {
  .pro-img1,
  .pro-img2,
  .pro-img3 {
    width: 100%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  .products-section {
    padding: 3rem 2rem;
    background-color: var(--lb);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .product-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 14px;
  }

  /* images */

  .pro-img1,
  .pro-img2,
  .pro-img3 {
    width: 100%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pro-img1 {
    background-image: url("/assets/images/Left.png");
  }
  .pro-img2 {
    background-image: url("/assets/images/Right.png");
  }

  .pro-img3 {
    background-image: url("/assets/images/Left2.png");
  }

  /* shaping each box */
  .pt1 {
    background-color: var(--db);
    color: var(--w);
  }

  .pt2 {
    background-color: var(--y);
  }

  .pt3 {
    background-color: var(--p);
    color: var(--w);
  }

  /* text */

  .pro-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .pro-text h2 {
    font-size: 3.2rem;
  }

  .pro-text p {
    font-size: 1.8rem;
  }

  .pt2 h2 {
    color: var(--hc);
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
}
