.products-section {
  padding: 2rem;
  background-color: var(--lb);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.products-box {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 16px;
}

.products-box img {
  margin-bottom: 2rem;
  width: 100%;
}

.portfolio {
  background-color: var(--db);
  color: var(--w);
  animation: moveInLeft 6s;
}

.trading {
  background-color: var(--y);
  animation: moveInRight 6s;
}

.trading h2 {
  color: var(--hc);
}
.security-day {
  background-color: var(--p);
  color: var(--w);
  animation: moveUp 6s;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-text h2 {
  font-size: 3.2rem;
}

.product-text p {
  font-size: 1.8rem;
}

/* tab */
@media (min-width: 768px) {
  .products-section {
    padding: 2rem;
    background-color: var(--lb);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .portfolio {
    grid-row: span 1.5;
  }

  .products-box img {
    margin-bottom: 2rem;
    width: 100%;
    object-fit: contain;
  }

  .product-text h2 {
    font-size: 4rem;
    text-align: center;
  }

  .product-text p {
    font-size: 1.8rem;
    text-align: center;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  .products-section {
    padding: 4rem 8rem;
    background-color: var(--lb);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .products-box {
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: self-start;
    border-radius: 16px;
    gap: 2rem;
  }

  .products-box img {
    margin-bottom: 2rem;
    width: 100%;
    object-fit: contain;
    flex: 2;
  }

  .product-text {
    flex: 2;
    align-items: flex-start;
    gap: 1rem;
  }
  .portfolio {
    grid-row: span 2;
    flex-direction: column;
    text-align: center;
    padding: 3rem 4rem;
  }
  .product-text h2 {
    font-size: 3rem;
    text-align: left;
  }

  .product-text p {
    font-size: 1.4rem;
    max-width: 700px;
    text-align: left;
  }
  .portfolio h2 {
    text-align: center;
    font-size: 3rem;
    text-align: left;
  }
  .portfolio p {
    text-align: center;
    font-size: 1.5rem;
    text-align: left;
  }
}

/* 1440 */
@media (min-width: 1440px) {
}

/* 1800 */
@media (min-width: 1800px) {
  .products-section {
    padding: 8rem 12rem;
    background-color: var(--lb);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .product-text h2 {
    font-size: 4rem;
    text-align: left;
  }

  .product-text p {
    font-size: 1.8rem;
    max-width: 700px;
    text-align: left;
  }
}
