<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="/css/utilities/variables.css" />
    <link rel="stylesheet" href="/css/utilities/base.css" />
    <link rel="stylesheet" href="/css/utilities/utilities.css" />
    <link rel="stylesheet" href="/components/css/footer.css" />
  </head>
  <body>
    <footer>
      <div class="container">
        <section id="top">
          <div class="left">
            <ul class="col">
              <h3 class="col-head">Company</h3>
              <li>About Us</li>
              <li>Blog</li>
              <li>Careers</li>
              <li>Student</li>
              <li>Security</li>
              <li>Trust & Safety</li>
              <li>Newsroom</li>
              <li>Videos</li>
            </ul>
            <ul class="col">
              <h3 class="col-head">Learn</h3>
              <li>What's Trending</li>
              <li>Product News</li>
              <li>Events</li>
              <li>University</li>
              <li>Research</li>
              <li>Market Updates</li>
            </ul>
            <ul class="col">
              <h3 class="col-head">Products</h3>
              <li>Stock & Funds</li>
              <li>Cash Cards</li>
              <li>Crpto</li>
              <li>Options</li>
              <li>Gold</li>
              <li>Learn Snacks</li>
            </ul>
          </div>
          <div class="right">
            <ul class="col">
              <h3 class="col-head">Support</h3>
              <li>Support Center</li>
              <li>Contact Us</li>
              <li>System Status</li>
              <li>Areas of Availabity</li>
            </ul>
            <ul class="col">
              <h3 class="col-head">Resources</h3>
              <li>Prices</li>
              <li>Sites Widgets</li>
              <li>Tax</li>
              <li>Support</li>
            </ul>
          </div>
        </section>
        <hr />
        <section id="bottom">
          <h2>Did you know you can do more with crypto while on the go?</h2>

          <a class="logo" href="/html/home.html"
            ><img src="/assets/images/nexo-(nexo).png" alt="" />CryptoZ
          </a>

          <small>© Design by Amarachi Iwueze. All rights reserved.</small>
        </section>
      </div>
    </footer>
    <script src="/components/js/footer.js"></script>
  </body>
</html>
